.wrapper {
    flex-direction: row;
    flex: 1;
    padding-bottom: 1rem;

    @media (max-width: 575px) {
        flex-direction: column;
    }
    .row{
        display: flex;
        background-color: gainsboro;
        padding: 2rem;
    }
    .barsContainer{
        display: flex;
        flex-direction: row;
    }
}
