.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    @media (max-width: 575px) {
        flex-direction: column;
    }
    .row {
        display: flex;
        justify-content: center;
        background-color: gainsboro;
        padding: 1.7rem 0;
        align-items: center;
    }
    .barsContainerWrapper {
        margin-bottom: 3rem;
        margin-top: 3rem;
        flex: 7;
        display: flex;
        justify-content: center;
        .barsContainer {
            width: 70%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    }
}
