.row {
    display: flex;
    justify-content: space-evenly;
    background-color: lighten(#795780, 20%);
    padding: 2.5rem 5rem 0.5rem 5rem;
    width: 40%;
    align-items: center;
    align-self: center;

    .slidersContainer {
        flex: 4;
        width: 100%;
        .sliderContainer {
            display: flex;
            justify-content: center;
            .label {
                margin-right: 1rem;
                flex: 1;
                color: white;
                font-size: large;
                font-weight: bold;
            }
            .slider {
                flex: 5;
            }
        }
    }
    .button {
        flex: 1;
        margin: 1rem;
        &:disabled {
            background-color: #795780;
            color: lighten(#795780, 20);
        }
        border: 1px solid #795780;
        background-color: lighten(#47306c, 15%);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: lighten(#47306c, 20%);
            .ant-btn-dangerous:focus + {
                background-color: #ff4d4f;
            }
            &:disabled {
                background-color: #795780;
            }
        }
    }
}
