.barsContainerWrapper {
    margin-bottom: 3rem;
    margin-top: 3rem;
    flex: 7;
    display: flex;
    justify-content: center;
    .barsContainer {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .barContainer {
            justify-items: center;
            .barNumber {
                font-family: "Courier New", Courier, monospace;
                text-align: center;
                color: white;
                font-weight: bold;
            }
        }
    }
}
